<link rel="stylesheet" href="/css/main.css"/>
<a href="http://localhost:3000/">Home</a>
<h2>Details for Sandwich</h2>
<hr/>
<h3>Sandwich</h3>
    <% if (result) { %>
        <li>Name: <%= result.name %></li>
        <li>Vessel: <%= result.vessel %></li>
        <li>Protein: <%= result.protein %></li>
        <li>Veggie: <%= result.veggie %></li>
        <li>Dairy: <%= result.dairy %></li>
        <li>Sauce: <%= result.sauce %></li>
    <% } else { %>
        <p>Unable to find your request.</p>
    <% } %>